@import url('https://fonts.googleapis.com/css2?family=Titillium+Web:wght@400;700&display=swap');

/* Raiz do documento - Favorece reutilização de código */
:root {

    /* Definição de variável */
    --background: #000;
    --red: #c20000;
    --blue: #001f70;
    --white: #fff;
    --gradient: linear-gradient(180deg, #000000 0%, rgba(83, 83, 83, 0.577381) 25%, rgba(196, 196, 196, 0) 87.5%);

    --font: 'Titillium Web', sans-serif;
}

/* Reset */
* {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
    
}

/* Chamando uma variável */
body {
    font-family: var(--font);
    font-size: 16px;
    background-color: var(--background);
    overflow-x: hidden; 
}

.header-top {
    width: 100%;
    height: 5em;
    /* background-color: aliceblue; */
}

.content {
    width: 100%;
    max-width: 75em;
    height: 100%;
    /* background-color: aqua; */
    margin: auto;
}

.flex-spbt-center {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-top img {
    max-width: 21.18em;
}

.menu {
    width: 100%;
    max-width: 50em;
}

.menu ul {
    list-style-type: none;
}

.menu a {
    color: var(--white);
    text-decoration: none;
    font-size: 1.4em;
    text-transform: uppercase;
    padding: 0.9em 0.66em;
}

.menu a:hover {
    background-color: var(--red);
    text-shadow: 0 0 20px var(--white);
    text-decoration: underline;
}

#menu-bars {
    display: none;
}

/* Banner */

.banner {
    position: relative;
}

.banner-container {
    width: 100%;
    height: 100%;
    /* background-color: rgba(127, 255, 212, 0.39); */
    position: absolute;
    top: 0;
}

.banner-content {
    height: 80%;
    height: 100%;
    /* background-color: rgba(255, 235, 205, 0.384); */
    margin: auto;
    display: flex;
    justify-content: flex-end;
}

.banner-text {
    width: 50%;
    height: 100%;
    /* background-color: aqua; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: var(--white);
}
.banner-text h1 {
    font-size: 5.62em;
}

.banner-text p {
    font-size: 1.87em;
}

.banner-text a {
    text-transform: uppercase;
    color: var(--white);
    font-size: 1.87em;
    text-decoration: none;
    background-color: var(--red);
    padding: 0.5em 1.2em;
    border-radius: 0.7em;
    margin-top: 2em;
}

/* Links e Games */

.games {
    width: 100%;
    height: 7.5em;
    /* background-color: aquamarine; */
}

.games ul {
    list-style-type: none;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    gap: 45px;
    justify-content: center;
    align-items: center;
    margin-top: 2.5em 
}

.games img {
    width: 150px;
}

.games ul a:hover img{
    transition: 0.5s;
    transform: scale(1.5);
}

/* About */

.about {
    height: 31.25em;
    background-color: var(--blue);

    position: relative;
}

.about-angulation {
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
}

.angulation {
    height: 24.125em;
    width: 100%;
    background-color: var(--background);
    transform: skewY(-4deg);
}

.container-about {
    color: var(--white);
    position: absolute;
    top: 0
}

.content-about {
    width: 80%;
    margin: auto;
    display: flex;
    align-items: center;
    gap: 50px;
}

.text-about {
    width: 50%;
    text-align: justify;
}

.text-about h2 {
    margin-bottom: 1em;
    font-size: 2.1875em;
}

.text-about p {
    font-size: 1.25em;
}

.content-about img {
    max-width: 31.875em;
}

.games {
    /* background-color: var(--red); */
}

.games-aovivo::after {
    content: '';
    border: solid 1px yellow;
    height: 2em;
    margin-left: 2em;
}

.games-aovivo, .games-embreve, .partidas-aovivo {
    display: flex;
    align-items: center;
    font-size: 1.875em;
    color: var(--white);
}

.games-aovivo h2, .games-embreve h2 {
    text-transform: uppercase;
    margin-right: 1em;
    font-size: 1em;
}

.partida, .partidas-aovivo {
    width: 9.5em;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.time1, .time2, .partidas-aovivo {
    display: flex;
    /* background-color: var(--red); */
    align-items: center;
}

.partida img {
    width: 1.8em
}

.time1 img {
    margin-left: 0.5em;
}

.time2 img {
    margin-left: 0.5em;
}

/* Notícias */

.noticias {
    background-color:rgb(23, 23, 27);
    margin-bottom: 2em;
    height: 50%;
}

.noticias h2 {
    color: var(--white);
    margin-top: 1em;
    margin-bottom: 1em;
}

.noticia img{
    width: 14.8125em;
    align-items: center;
    position: relative;
    top: -32px;
    left: -32px
}

.noticia {
    width: 14.8125em;
    color: var(--white);
    padding: 2em;
    text-align: justify;
    background: linear-gradient(180deg, rgba(83, 83, 83, 0.5) 0%, #000000 100%);
    box-shadow: 0px 0px 10px rgb(97, 97, 97),0px 0px 30px rgb(0, 0, 0);
    align-items: center;
}

.boxes {
    display: flex;
    /* height: 50%; */
    background: unset;
    /* background-color:  aquamarine; */
    width: 840px;
    flex-wrap: wrap
}

.boxes , .boxes-2 {
    gap: 50px;
}

.partidas-aovivo {
    display: flex;
    flex-direction: column;
    background: linear-gradient(180deg, rgba(83, 83, 83, 0.5) 0%, #000000 100%);
    box-shadow: 0px 0px 10px rgb(97, 97, 97),0px 0px 30px rgb(0, 0, 0);    
    position: absolute;
    left: 950px; 
}

#proximos-jogos {
    position: absolute;
    top: -80px;
    left: 10px;
    color: var(--white);
    margin-top: 1em;
    margin-bottom: 1em;
    font-size: 0.8em;
}

.times {
    display: flex;
    justify-content: flex-end;  
}

.partidas1, .partidas2{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

.data {
    display: flex;
    flex-direction: row;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    gap: 45px;
    flex-wrap: wrap;
    position: absolute;
    margin-top: 6em;
    margin-right: 2.5em;
}

.times {
    /* background-color: coral; */
    display: flex;
    flex-direction: row;
    margin-bottom: 2em;
    margin-top: 2em;
    gap: 45px;
    font-size: 0.6em;
    align-items: center;
    justify-content: flex-end;

}

/* Rodapé */

.rodape {
    height: 10em;
}

.menu-rodape {
    display: flex;
    gap: 50px;
}

.menu-rodape ul {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    gap: 15px;
    color: var(--white);
    justify-content: center;
    align-items: center;
    margin-top: 2.5em;
    margin-bottom: 2.5em;
}

.menu-rodape h2 {
    color: var(--white);
    margin-top: 2.5em;
}

.menu-rodape a {
    text-transform: uppercase;
    text-decoration: none;
    color: var(--white)
}

.logo-rodape {
    position: absolute;
    left: 35%;
}

.about-rodape p {
    color: var(--white);
    margin-top: 50px;
    font-family: 'Titillium Web', sans-serif;
}

.cadastro-email {
    position: absolute;
    padding-top: 2em;
    display: flex;
    align-items: center;
    flex-direction: row;
}

#cadastro {
    background-color: #8326EF;
    color: var(--white);
    padding-right: 5em;
    padding-bottom: 1em;
    display: flex;
    align-items: center;
    flex-direction: row;
    font-size: 17.55px;
    position: relative;
    font-weight: bold;
}   

.cadastro-email a {
    text-decoration: none;
    background-color: var(--white);
    color: gray;
    padding-right: 10em;
    padding-bottom: 1em;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 17.55px;
    font-weight: bold;
}

.siga-nos h2 {
    position: relative;
    color: var(--white);
    top: 95px;
}

.siga-nos img {
    position: relative;
    top: 50px;
    right: -150px;
}



/* Media Queries */

/* 
@media screen and (max-width: 1366px) {
    body {
        width: 100%
    }
} */

/* 1199 */
@media screen and (max-width: 74.93em) {

}

/* 991 */
@media screen and (max-width: 61.93em) {

}

/* 767 */
@media screen and (max-width: 47.93em) {

}

/* 576 */
@media screen and (max-width: 36em) {
   
}



